Copy code
body {
  margin: 0;
  padding: 0;
}

.para{
    margin-top: 25px;
}

.Custom {
  position: relative;
  padding: 20px;
  text-align: center;
  color: white;
  background-image: url('C:\Users\MONIKA\Desktop\react js\my-app\src\images\background -mobileview.jpg');
  background-size: cover;
  background-position: center;
  height: 150px;
  
}

.Custom .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Custom h3 {
  font-size: 24px;
  color: white;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  margin: 0;
  /* For desktop view */
  text-align: left;
  flex-grow: 1; /* This will push h5 to the right */
  margin-top: 50px;
}

.Custom h5 {
  font-size: 12px;
  margin: 0;
  /* For desktop view */
  text-align: right;
}
  
  .AnalysisService h1 {
    color: #e04444;
    font-size: 24px;
    margin: 0;
    margin-top: 40px;
  }
  
  .AnalysisService h5 {
    font-size: 14px;
    color: #645f5f;
    margin: 0;
  }
  
  .AnalysisService {
    font-size: 16px;
    padding: 20px;
    color: #645f5f;
  }
  
  .service-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .service-list {
    list-style: none;
    padding: 0;
    display: block;
    margin: 0;
    
  }
  
  .service-list li {
    padding: 20px 120px 18px 37px; /* Adjusted padding for icon */
    font-size: 15px;
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  
  .service-list li i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 13px;
    height: 16px;
    line-height: 16px;
    background-color: #807b7b;
    border: 1px solid #494747;
    border-radius: 2px;
  }
  
  /* Adjust text styles */
  .service-list li span {
    flex-grow: 1;
    margin-left: 5px;
  }
  
  /*Media Query for Mobile View*/
   @media (max-width: 768px) {
    /* .Custom { 
      height: auto;
      padding: 60px;
      background-image: url('image/background\ -my-app/src/images/background.jpg');
    } */
  
    .Custom .title-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .Custom h3 {
      font-size: 20px;
      margin-bottom: 4px;
      text-align: center;
    }
  
    .Custom h5 {
      font-size: 10px;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .AnalysisService h1 {
      font-size: 20px;
    }
   .AnalysisService p{
    text-align: justify;
   }
    .AnalysisService h5 {
      font-size: 15px;
      margin-bottom: 20px;
    }
  
    .AnalysisService {
      font-size: 17px;
      padding: 20px;
      
    }
  
    .service-list li {
      padding: 8px 8px 8px 24px; /*Adjusted padding for icon */
     }
  
    .service-list li i {
      width: 13px;
      height: 14px;
      line-height: 14px;
    }
  } 


